# folders
# Don't distribute source code on NPM (just built code)
src/
# Don't distribute node_modules on NPM (just built code)
node_modules/
# Don't distribute node_modules on NPM (just built code)
.vscode/

# files
.eslintrc.json
.gitignore
tailwind.config.js
tsconfig.json
